In [1]:
#imports 
import pandas as pd
import random
import numpy as np

In [2]:
#importar tabla
df = pd.read_csv("clientes-centro-comercial.csv")

In [3]:
(df.dtypes)

IDcliente                     int64
Genero                       object
Edad                          int64
Ingresos Anuales (k$)         int64
Puntos en compras (1-100)     int64
dtype: object

Aqui arriba voy a mostrar los datos que contiene este csv, podemos ver que hay ids, genero, edad, ingresos anuales, y puntos de compra

In [4]:
print("\nEl rango de Edad va desde: ", df['Edad'].min(), " hasta ", df['Edad'].max())
print("El rango de Ingresos Anuales va desde: ", df['Ingresos Anuales (k$)'].min(), " hasta ", df['Ingresos Anuales (k$)'].max())
print("El rango de Puntos en compras va desde: ", df['Puntos en compras (1-100)'].min(), " hasta ", df['Puntos en compras (1-100)'].max())

El rango de Edad va desde:  18  hasta  70
El rango de Ingresos Anuales va desde:  15  hasta  137
El rango de Puntos en compras va desde:  1  hasta  99

Voy a crear los filtros que voy a usar

In [22]:
filtro_hombres = df[ (df['Genero'] == "Hombre")]
filtro_mujeres = df[ (df['Genero'] == "Mujer")]
filtro_jovenes = df[ (df['Edad'] <= 30)]
filtro_medio = df[ (df['Edad'] > 30) & (df['Edad'] <= 50)]
filtro_viejos = df[ (df['Edad'] > 50)]

Imprimimos los rangos de edad, ingresos y puntos de compra para hombres y mujeres

In [7]:
print("\nEl rango de Edad (Hombres) va desde: ", filtro_hombres['Edad'].min(), " hasta ", filtro_hombres['Edad'].max())
print("El rango de Ingresos Anuales (Hombres) va desde: ", filtro_hombres['Ingresos Anuales (k$)'].min(), " hasta ", filtro_hombres['Ingresos Anuales (k$)'].max())
print("El rango de Puntos en compras (Hombres) va desde: ", filtro_hombres['Puntos en compras (1-100)'].min(), " hasta ", filtro_hombres['Puntos en compras (1-100)'].max())
print("\nEl rango de Edad (Mujer) va desde: ", filtro_mujeres['Edad'].min(), " hasta ", filtro_mujeres['Edad'].max())
print("El rango de Ingresos Anuales (Mujer) va desde: ", filtro_mujeres['Ingresos Anuales (k$)'].min(), " hasta ", filtro_mujeres['Ingresos Anuales (k$)'].max())
print("El rango de Puntos en compras (Mujer) va desde: ", filtro_mujeres['Puntos en compras (1-100)'].min(), " hasta ", filtro_mujeres['Puntos en compras (1-100)'].max())

El rango de Edad (Hombres) va desde:  18  hasta  70
El rango de Ingresos Anuales (Hombres) va desde:  15  hasta  137
El rango de Puntos en compras (Hombres) va desde:  1  hasta  97

El rango de Edad (Mujer) va desde:  18  hasta  68
El rango de Ingresos Anuales (Mujer) va desde:  16  hasta  126
El rango de Puntos en compras (Mujer) va desde:  5  hasta  99

Voy a imprimir la moda de esta tabla (son mujeres), el mean y median.

In [13]:
(df['Genero'].mode())

0    Mujer
Name: Genero, dtype: object

Hay mas mujeres

In [14]:
(df.groupby(['Genero']).median())

        IDcliente  Edad  Ingresos Anuales (k$)  Puntos en compras (1-100)
Genero
Hombre      106.5  37.0                   62.5                       50.0
Mujer        94.5  35.0                   60.0                       50.0

In [15]:
(df.groupby(['Genero']).mean())

,IDcliente,Edad,Ingresos Anuales (k$),Puntos en compras (1-100)
Genero,,,,
Hombre,104.238636,39.806818,62.227273,48.511364
Mujer,97.562500,38.098214,59.250000,51.526786

Los hombres demuestren tener en promedio mas edad, con mas ingresos, y menos puntos de compra relativo a las mujeres.

In [17]:
sdm = filtro_mujeres['Ingresos Anuales (k$)'].std()
sdh = filtro_hombres['Ingresos Anuales (k$)'].std()

print("\nDesviaciones estandar de ingresos por genero: ")
print("Mujer: ", sdm)
print("Hombre: ",sdh)

Desviaciones estandar de ingresos por genero:
Mujer:  26.01195151505595
Hombre:  26.638373182494128

La desviacion estandar es casi igual.

In [24]:
#imprimo los ingresos de jovenes calculando el promedio
print("\nPromedio de Ingresos Jovenes (<= 30): ")
sorted_jovenes = filtro_jovenes['Ingresos Anuales (k$)'].sort_values()
sorted_jovenes = sorted_jovenes.reset_index(drop=True)
p = 5
print(sorted_jovenes[p:-p].mean())

#imprimo los ingresos de middle aged calculando el promedio
print("\nPromedio de Ingresos Medios (>30 y <= 50): ")
sorted_medio = filtro_medio['Ingresos Anuales (k$)'].sort_values()
sorted_medio = sorted_medio.reset_index(drop=True)
p = 5
print(sorted_medio[p:-p].mean())

#imprimo los ingresos de viejos calculando el promedio
print("\nPromedio de Ingresos Viejos (>50): ")
sorted_viejos = filtro_viejos['Ingresos Anuales (k$)'].sort_values()
sorted_viejos = sorted_viejos.reset_index(drop=True)
p = 5
print(sorted_viejos[p:-p].mean())

Promedio de Ingresos Jovenes (<= 30):
54.25

Promedio de Ingresos Medios (>30 y <= 60):
66.0340909090909

Promedio de Ingresos Viejos (>60):
53.2

Podemos ver que hay una gran disparidad de ingresos entre los rangos de edades que escogimos.

In [25]:
#imprimo los ingresos de jovenes calculando el promedio
print("\nPromedio de Puntos en compras (1-100) Jovenes (<= 30): ")
sorted_jovenes = filtro_jovenes['Puntos en compras (1-100)'].sort_values()
sorted_jovenes = sorted_jovenes.reset_index(drop=True)
p = 5
print(sorted_jovenes[p:-p].mean())

#imprimo los ingresos de middle aged calculando el promedio
print("\nPromedio de Puntos en compras (1-100) (>30 y <= 50): ")
sorted_medio = filtro_medio['Puntos en compras (1-100)'].sort_values()
sorted_medio = sorted_medio.reset_index(drop=True)
p = 5
print(sorted_medio[p:-p].mean())

#imprimo los ingresos de viejos calculando el promedio
print("\nPromedio de Puntos en compras (1-100) Viejos (>50): ")
sorted_viejos = filtro_viejos['Puntos en compras (1-100)'].sort_values()
sorted_viejos = sorted_viejos.reset_index(drop=True)
p = 5
print(sorted_viejos[p:-p].mean())

Promedio de Puntos en compras (1-100) Jovenes (<= 30):
62.96153846153846

Promedio de Puntos en compras (1-100) (>30 y <= 60):
48.375

Promedio de Puntos en compras (1-100) Viejos (>60):
39.333333333333336

CONCLUSION:
Viendo estos datos podemos extraer varias conclusiones, primero es que los hombres en promedio tienen mas salario, segundo, las mujeres tienen mas puntos de compra, aunque no se como se obtienen estos puntos, voy a asumir que esto significa que compran mas relativo a los hombres. Tercero es que entre las edades de 30 y 60 tienen un ingreso promedio mas alto. La ultima conclusi√≥n es que los que mas compran son los jovenes.